@{
    Layout = "~/Views/Shared/CustomerTemplate/_Layout.cshtml";
}
@using MongoShop.Models.Cart;
@model CartCheckoutViewModel

<!-- Breadcrumb Section Begin -->

<!-- Breadcrumb Section Begin -->
<!-- Shopping Cart Section Begin -->
<section class="checkout-section spad">
    <div class="container">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <form asp-action="PlaceOrder" asp-controller="Cart" method="post" id="checkout_form" class="checkout-form">

            <div class="row">
                <div class="col-lg-6">
                    <div class="checkout-content">
                        <a href="javascript:void(0)" class="content-btn">Dùng địa chỉ của tôi</a>
                    </div>
                    <h4>Thông tin giao hàng</h4>
                    <div class="row">
                        <div class="col-lg-12">
                            <label for="fir">Tên người nhận<span></span></label>
                            <input asp-for="RecipientName" type="text" id="fir" required>
                        </div>
                        <div class="col-lg-12">
                            <label for="zip">Đường</label>
                            <input asp-for="AddressNumber" type="text" id="address-number" name="address-number" required>
                        </div>
                        <span asp-validation-for="AddressNumber" class="text-danger"></span>

                        <div class="col-lg-12">
                            <label for="street">Phường/xã<span>*</span></label>
                            <input asp-for="Street" type="text" id="street" class="street-first" name="street" required>
                        </div>
                        <div class="col-lg-12">
                            <label for="town">Thành Phố<span>*</span></label>
                            <input asp-for="City" type="text" id="town" name="town" required>
                        </div>
                        <div class="col-lg-12">
                            <label for="phone">SĐT<span>*</span></label>
                            <input asp-for="PhoneNumber" type="text" id="phone" name="phone" required>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="checkout-content">
                        @*<input type="text" placeholder="Enter Your Coupon Code">*@
                    </div>
                    <div class="place-order">
                        <h4>Thông tin đơn hàng</h4>
                        <div class="order-total">
                            <ul class="order-table">
                                <li>Sản phẩm <span>Tổng</span></li>
                                @foreach (var item in Model.Products)
                                {
                                    <li class="fw-normal">@item.Product.Name x @item.OrderedQuantity <span>@String.Format("{0:0,0 vnđ}", @item.Product.Price * @item.OrderedQuantity)</span></li>
                                }
                                <li class="fw-normal">Subtotal <span>@String.Format("{0:0,0 vnđ}", @Model.Total)</span></li>
                                <li class="fw-normal">Ship <span>@String.Format("{0:0,0 vnđ}", 45000)</span></li>
                                <li class="total-price">Total <span>@String.Format("{0:0,0 vnđ}", @Model.Total + 45000)</span></li>
                            </ul>
                            <div class="order-btn">
                                <button type="submit" value="submit" class="site-btn place-btn">Ship COD</button>
                                @*<button type="submit" asp-action="PaypalCheckout" asp-controller="Cart" class="site-btn place-btn">Paypal</button>*@
                                <p></p>
                                <p>--- Hoặc ---</p>
                                <p></p>
                                <div  id="paypal-button-container"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <input asp-for=Total type="hidden">
        </form>
    </div>
</section>
<!-- Shopping Cart Section End -->

<script src="https://www.paypal.com/sdk/js?client-id=AdfLRpwRIz1vGEJgLw4liW0BkOLpudgqIKHzT4ZSTFe7rgOD6Vc9mMJzrgJ8yxu2knmh6nAuUqI7GEUq&disable-funding=credit,card">
</script>


<script>

    var orderID;



    paypal.Buttons({
        createOrder: function (data, actions) {
            orderID = data.orderID;
            return fetch('/Cart/PaypalCheckout', {
                method: 'post'
            }).then(function (res) {
                return res.json();
            }).then(function (data) {
                return data.orderID;
            });
        },

        onApprove: function (data, actions) {
            return fetch('/Cart/CheckoutSuccess' + data.orderID, {
                method: 'post'
            }).then(function (res) {
                return actions.order.capture();
            }).then(function (details) {
                if (details.status === "COMPLETED") {
                    alert('Transaction funds captured from ' + details.purchase_units[0].payments.captures[0].id);
                    document.location.href = '/Cart/CheckoutSuccess/' + data.orderID + '/' + details.purchase_units[0].payments.captures[0].id;
                }
            });
        },

        onClick: function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("TempAddress","Cart")",
                data: {
                    AddressNumber: document.getElementById("address-number").value,
                    Street: document.getElementById("street").value,
                    Town: document.getElementById("town").value,
                    Phone: document.getElementById("phone").value
                },
                success: function () {
                }
            })
        },

        onCancel: function (data, actions) {
            document.location.href='/Cart'
        },

        onError: function (err) {
            //alert(err);
            alert(res.json);
        },

        style: {
            shape: 'rect',
            color: 'gold',
            layout: 'horizontal',
            label: 'paypal',
            tagline: true
        },
    }).render('#paypal-button-container');



</script>

@section Scripts{ 
    <script>
        $(".content-btn").click(function () {
            $.getJSON("@Url.Action("GetMyInformation","Account")", function (data) {
                console.log(data);
                console.log(data.street);
                $("#street").val(data.street);
                $("#address-number").val(data.addressNumber);
                $("#town").val(data.city);
                $("#phone").val(data.phoneNumber);
                $("#fir").val(data.firstName);
                $("#last").val(data.lastName);

            });
        })

        @*$("").click(function () {
            var AddressNumber = $("#address-number").val();
            var Street = $("#street").val();
            var Town = $("#town").val();
            var Phone = $("#phone").val();
            console.log(AddressNumber);
            $.ajax({
                type: "POST",
                url: "@Url.Action("TempAddress","Cart")",
                data: JSON.stringify({
                    AddressNumber: AddressNumber,
                    Street: Street,
                    Town: Town,
                    Phone: Phone
                }),
                success: function () {
                    alert("Data has been added successfully.");
                }
            })
        });*@
    </script>
}

