@{
    ViewData["Title"] = "Manage Products";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}
@using MongoShop.BusinessDomain.Products
@model IEnumerable<Product>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Fixed Header Table</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            
            <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Id)</th>
                            <th>@Html.DisplayNameFor(model => model.Name)</th>
                            <th>@Html.DisplayNameFor(model => model.Price)</th>
                            <th>@Html.DisplayNameFor(model => model.StockQuantity)</th>
                            <th>@Html.DisplayNameFor(model => model.Size)</th>
                            <th>@Html.DisplayNameFor(model => model.Status)</th>
                            <th>@Html.DisplayNameFor(model => model.Images)</th>
                            <th>@Html.DisplayNameFor(model => model.Category)</th>
                    </thead>
                    <tbody>
                        @foreach (var item in @Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(model => item.Id)</td>
                                <td>@Html.DisplayFor(model => item.Name)</td>
                                <td>@String.Format("{0:c}", item.Price)</td>
                                <td>@Html.DisplayFor(model => item.StockQuantity)</td>
                                <td>@Html.DisplayFor(model => item.Size)</td>
                                <td>@Html.DisplayFor(model => item.Status)</td>
                                <td>@Html.DisplayFor(model => item.Images)</td>
                                <td>@Html.DisplayFor(model => item.Category)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>