@{
    Layout = "~/Views/Shared/CustomerTemplate/_Layout.cshtml";
}
@using MongoShop.Models.Wishlist;
@model WishlistIndexViewModel
<!-- Home -->
<form  method="post" enctype="multipart/form-data">
    <div class="super_container">
        <!-- Wishlist -->
        <div class="cart_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="cart_title">your wish list</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="cart_bar d-flex flex-row align-items-center justify-content-start">
                            <div class="cart_bar_title_name">Product</div>
                            <div class="cart_bar_title_content ml-auto">
                                <div class="cart_bar_title_content_inner d-flex flex-row align-items-center justify-content-end">
                                    <div class="cart_bar_title_quantity">Size</div>
                                    <div class="cart_bar_title_price">Price</div>
                                    <div class="cart_bar_title_quantity">Quantity</div>
                                    <div class="cart_bar_title_total">Total</div>
                                    <div class="cart_bar_title_button"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="cart_products">
                            <input type="hidden" asp-for="@Model.Id"/>
                            <ul>
                                @for (int i = 0; i < Model.Products.Count; i++)
                                {

                                    <li class=" cart_product d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-start">
                                        <!-- Product Image -->
                                        @*@try
                                            {
                                                <div class="cart_product_image"><img src="@item.Product.Images[0]"></div>
                                            }
                                            catch (Exception)
                                            {

                                                <div class="cart_product_image"><img alt="No Image"></div>
                                            }*@

                                        <!-- Product Name -->
                                        <input type="hidden" asp-for="@Model.Products[i].Id" />
                                        <input type="hidden" asp-for="@Model.Products[i].Name" />
                                        <div class="cart_product_name"><a href="@Url.Action("ProductDetail","Customer", new { id = Model.Products[i].Id})">@Model.Products[i].Name</a></div>
                                        <div class="cart_product_info ml-auto">
                                            <div class="cart_product_info_inner d-flex flex-row align-items-center justify-content-md-end justify-content-start">
                                                <input type="hidden" asp-for="@Model.Products[i].Size" />

                                                <div class="cart_product_price">@Model.Products[i].Size</div>

                                                <!-- Product Price -->
                                                <input type="hidden" asp-for="@Model.Products[i].Price" />

                                                <div class="cart_product_price">@Model.Products[i].Price</div>

                                                <!-- Products Total Price -->
                                                <div class="cart_product_total">$35.00</div>

                                                <!-- Product Wishlist Trash Button -->
                                                <div class="cart_product_button">
                                                    <button type="button" onclick="RemoveFromWishlist('@Model.Products[i]')" style="background-color: red; color:white" class="cart_product_remove">-</button>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="cart_control_bar d-flex flex-md-row flex-column align-items-start justify-content-start">
                            <button onclick="ContinueShopping()" type="button" class="button_update cart_button_2 ml-md-auto">continue shopping</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="~/js/jquery.min.js"></script>
<script src="~/js/cart_custom.js"></script>
<script>
    function ContinueShopping() {
        document.location.href = '@Url.Action("Index", "Customer")';
    };
    function RemoveFromWishlist(productId) {

        $.post("/Wishlist/RemoveFromWishlist", { productId: productId }).done(function (data) {
            location.reload(); // then reload the page.(3)
        });
    };

</script>