@{
    ViewData["Title"] = "Create Product";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

@using MongoShop.Areas.Admin.ViewModels.Product;
@using MongoShop.Areas.Admin.ViewModels.Category;
@model CreateProductViewModel

<form asp-controller="Product" asp-area="Admin" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Product</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(model => model.Name)</label>
                        <input type="text" asp-for="Name" class="form-control">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(model => model.CategoryList)</label>
                        @Html.DropDownListFor(
                                    x => x.SelectedCategoryId,
                                    new SelectList(Model.CategoryList, "Value", "Text"),
                                    new { @required = true, @class = "form-control custom-select" })
                        <span asp-validation-for="SelectedCategoryId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(model => model.Price)</label>
                        <input type="number" asp-for="Price" class="form-control" min="0" step="500">
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(model => model.StockQuantity)</label>
                        <input type="number" asp-for="StockQuantity" class="form-control" min="0" step="1" />
                        <span asp-validation-for="StockQuantity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(model => model.Size)</label>
                        <select asp-for="Size" class="form-control custom-select" required>
                            <option selected="" disabled="">Select one</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>
                        <span asp-validation-for="Size" class="text-danger"></span>
                    </div>
                    <input type="file" asp-for="@Model.ImagesUpload" class="form-control" multiple="multiple" accept="image/*">
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <div class="col-12">
                <a href="@Url.Action("Index", "Product")" class="btn btn-secondary">Back to list</a>
                <input type="submit" value="Create" class="btn btn-success float-right">
            </div>
        </div>
    </div>
</form>