@{
    Layout = "~/Views/Shared/CustomerTemplate/_Layout.cshtml";
    bool isMainCate = Convert.ToBoolean(ViewData["isMainCate"]);
    string actionName = isMainCate == true ? "MainCategoryProducts" : "SubCategoryProducts";
}
@using MongoShop.Utils;
@using MongoShop.Models.Customer;

@model PaginatedList<IndexViewModel>
<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <a href="#"><i class="fa fa-home"></i> Home</a>
                    <span>Shop</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section Begin -->
<!-- Product Shop Section Begin -->
<section class="product-shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
                <div class="filter-widget">
                    <h4 class="fw-title">Categories</h4>
                    <ul class="filter-catagories">
                        <li><a href="#">Men</a></li>
                        <li><a href="#">Women</a></li>
                        <li><a href="#">Kids</a></li>
                    </ul>
                </div>
                <form method="post" asp-controller="Customer" asp-action="Category">
                <div class="filter-widget">
                    <h4 class="fw-title">Brand</h4>
                    <div class="fw-brand-check">
                        <div class="bc-item">
                            <label for="bc-calvin">
                                Áo
                                <input type="checkbox" name="tags" id="bc-calvin" value="Áo">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="bc-item">
                            <label for="bc-diesel">
                                Quần
                                <input type="checkbox" name="tags" id="bc-diesel" value="Quần">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="bc-item">
                            <label for="bc-polo">
                                Phụ Kiện
                                <input type="checkbox" name="tags" id="bc-polo" value="Phụ Kiện">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        @*<div class="bc-item">
                            <label for="bc-tommy">
                                Tommy Hilfiger
                                <input type="checkbox" name="tags" id="bc-tommy" value="4">
                                <span class="checkmark"></span>
                            </label>
                        </div>*@
                    </div>
                </div>
                <div class="filter-widget">
                    <h4 class="fw-title">Price</h4>
                    <div class="filter-range-wrap">
                        <div class="range-slider">
                            <div class="price-input">
                                <input type="text" name="price_min" id="minamount">
                                <input type="text" name="price_max" id="maxamount">
                            </div>
                        </div>
                        <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                             data-min="5" data-max="98">
                            <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                            <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                            <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                        </div>
                    </div>
                    <input value="Filter" class="filter-btn" type="submit"></input>
                </div>
                </form>
                <div class="filter-widget">
                    <h4 class="fw-title">Tags</h4>
                    <div class="fw-tags">
                        <a href="#">Towel</a>
                        <a href="#">Shoes</a>
                        <a href="#">Coat</a>
                        <a href="#">Dresses</a>
                        <a href="#">Trousers</a>
                        <a href="#">Men's hats</a>
                        <a href="#">Backpack</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 order-1 order-lg-2">
                <div class="product-show-option">
                    <div class="row">
                        <div class="col-lg-7 col-md-7">
                            <div class="select-option">
                                <select class="sorting">
                                    <option value="">Default Sorting</option>
                                </select>
                                <select class="p-show">
                                    <option value="">Show:</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 text-right">
                            <p>Show 01 - 09 Of @String.Format("{0:0}", Model.Count * Model.TotalPages) Products</p>
                        </div>
                    </div>
                </div>
                <div class="product-list">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-lg-4 col-sm-6">
                                <div class="product-item">
                                    <div class="pi-pic">
                                        <img src="~/images/@item.Images[0]" alt="">
                                        <div class="sale pp-sale">Sale</div>
                                        <div class="icon">
                                            <i class="icon_heart_alt"></i>
                                        </div>
                                        <ul>
                                            <li class="w-icon active"><a href="#" onclick="AddToCart('@item.Id');"><i class="icon_bag_alt"></i></a></li>
                                            <li class="quick-view"><a href="@Url.Action("ProductDetail", new { id = item.Id })">+ Quick View</a></li>
                                            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="pi-text">
                                        <a href="@Url.Action("ProductDetail", new { id = item.Id })">
                                            <h5>@item.Name</h5>
                                        </a>
                                        <div class="product-price">
                                            @String.Format("{0:c}", item.Price)
                                            @*<span>$35.00</span>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                    @{
                        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                        var nextDisabled = !Model.HasNextPage ? "disabled" : "";

                    }
                <div class="pagination justify-content-center">
                   
                    <a asp-action = "@actionName"
                       asp-controller="Customer"
                       asp-route-categoryId="@ViewData["categoryId"].ToString()"
                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                       class="btn btn-outline-warning @prevDisabled ">
                        Previous
                    </a>
                    
                    <a asp-action="@actionName"
                       asp-controller="Customer"
                       asp-route-categoryId="@ViewData["categoryId"].ToString()"
                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                       class="btn btn-outline-warning @nextDisabled float-right">
                        Next
                    </a>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Shop Section End -->

<script src="~/js/jquery.min.js"></script>
<script type="text/javascript">

        function AddToCart(productId) {
            $.post("@Url.Action("Add", "Cart")", { productId: productId})
                .done(function () {
                                alert("product added to your cart");
                            });
                        };
</script>
