@{
    ViewData["Title"] = "Manage Categorys";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

@using MongoShop.Areas.Admin.ViewModels.Category;
@using MongoShop.Utils;
@model PaginatedList<IndexCategoryViewModel>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Category List</h3>
                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 200px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                        </div>

                        <div class="input-group-append">
                            <a type="button" class="btn btn-success" href="@Url.Action("Create","Category")">Create</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->

            <div class="card-body table-responsive p-0" style="height: 500px;">
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Main Category</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in @Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(model => item.Name)</td>
                                <td>@Html.DisplayFor(model => item.IsMainCate)</td>
                                <td>
                                    <div class="btn-group float-right">
                                        <a type="button" class="btn btn-default" href="@Url.Action("Detail","Category", new { id = item.Id})">Detail</a>
                                        <a type="button" class="btn btn-primary" href="@Url.Action("Edit","Category", new { id = item.Id})">Edit</a>
                                        <a type="button" class="btn btn-danger" href="@Url.Action("Delete","Category", new { id = item.Id})">Delete</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>

        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }

        <a asp-action="Index"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           class="btn btn-info @prevDisabled">
            Previous
        </a>
        <a asp-action="Index"
           asp-route-currentPageNumber="@(Model.PageIndex + 1)"
           class="btn btn-info @nextDisabled float-right">
            Next
        </a>
        <!-- /.card -->
    </div>
</div>